2023-12-17 02:49:56 - INFO - Starting daily price update.
2023-12-17 02:49:59 - INFO - ALERT: TSLA has hit the drawdown/recovery criteria.
2023-12-17 02:49:59 - INFO - ALERT: Price and Moving Average crossed for PETR4.SA.
2023-12-17 02:49:59 - INFO - ALERT: Price and Moving Average crossed for VALE3.SA.
2023-12-17 02:49:59 - INFO - Daily price update completed successfully.
